---
version: 4.0.0
#name: Jekyll • Simple, blog-aware, static sites
#description: Transform your plain text into static websites and blogs
name: Jekyll • 심플한, 블로그 지향적, 정적 사이트
description: 평범한 텍스트 파일을 정적 웹사이트 또는 블로그로 변신시켜 보세요.
url: https://jekyllrb.com
url-ko: https://jekyllrb-ko.github.io/
repository: https://github.com/jekyll/jekyll
repository-ko: https://github.com/jekyllrb-ko/jekyllrb-ko.github.io
timezone: America/Los_Angeles
twitter:
  username: jekyllrb
logo: "/img/logo-2x.png"
google_analytics_id: UA-50755011-1
google_site_verification: onQcXpAvtHBrUI5LlroHNE_FP0b2qvFyPq7VZw36iEY
collections:
  docs:
    permalink: "/:collection/:path/"
    output: true
  posts:
    permalink: "/news/:year/:month/:day/:title/"
    output: true
  tutorials:
    output: true
defaults:
- scope:
    path: _docs
    type: docs
  values:
    layout: docs
- scope:
    path: _posts
    type: posts
  values:
    layout: news_item
- scope:
    path: ''
  values:
    image: "/img/jekyll-og.png"
future: true
plugins:
- jekyll-avatar
- jekyll-feed
- jekyll-mentions
- jekyll-redirect-from
- jekyll-seo-tag
- jekyll-sitemap
- jemoji
feed:
  categories:
  - release
kramdown:
  syntax_highlighter_opts:
    default_lang: plaintext
sass:
  style: compressed
strict_front_matter: true
exclude:
- ".gitignore"
- ".jekyll-cache"
- CNAME
- icomoon-selection.json
- readme.md
