<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.baseurl }}/">개요</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/docs/home/">문서</a>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="{{ site.baseurl }}/news/">소식</a>
  </li>
  <li>
    <a href="{{ site.help_url }}">지원</a>
  </li>
  <li>
    <a href="{{ site.repository }}">GitHub<span class="hide-on-mobiles"> 으로</span></a>
  </li>
</ul>
